body {
  background-color: rgb(255, 255, 255);
  font: 700 6.25em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  width: 42.4166666666%;
  height: 140px;
  margin: 200px 0 0 28.83333%;
}

.image {
  display: block;
  position: absolute;
  top: 41px;
  width: 57px;
  height: auto;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 0;
  left: -0.0798133596%;
  z-index: 2;
  width: 100%;
  min-height: 140px;
  font-size: 1em;
  text-align: center;
  letter-spacing: -4px;
  color: rgb(0, 0, 0);
}

.image-1 {
  left: 20.7852406679%;
  z-index: 1;
}

.image-2 {
  left: 67.8137278978%;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(255, 255, 255);
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span:active,
.text span:focus,
.text span:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(74, 255, 158);
}